@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

$blue: #0074D9;
$darkblue: #001F3F;
$yellow: #FFDC00;
$white: #fff;
$offwhite: #ddd;

$h1-font: bold 50px 'Racing Sans One', cursive,;
$h2-font: 15px 'Press Start 2P', cursive;

body {
  background-color: $blue;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float: left;
}

h1 {
  font: $h1-font;
  color: $white;
  text-align: center;
  text-decoration: underline;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font: $h2-font;
  color: $darkblue;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}



h4 {
  margin-left: 70px;
}


#toggle {
  width: 30%;
  height: 3em;
  background: $darkblue;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 15px;

  }

  a {
    text-decoration: none;
    color: $white;
    font: $h2-font;
    font-size: 12px;
  }

}

#searchBar {
  width: 35%;
  height: 3.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;

}

input {
  outline: none;
  margin-left: 20%;
  margin-top: .5em;


  &[type=search]{
      -webkit-appearance: textfield;
  	  -webkit-box-sizing: content-box;
  	  font-family: inherit;
  	  font-size: 100%;
      background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 200px;

      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;

      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;

    &:focus {
  	   background-color: #fff;
  	   border-color: $blue;

  	   -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  	   -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  	   box-shadow: 0 0 5px rgba(109,207,246,.5);
      }

  }

}

#results {
  width: 35%;
  height: 100%;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $blue;

  li {
    list-style: none;
    padding-bottom: 8px;
    color: $darkblue;
    margin-left: 50px;
    font: $h2-font;
    font-size: 12px;

  }

  a {
    text-decoration: underline;

    &:visited {
      color: blue;
    }
  }

}

#channelsOnline  {
  margin-top: 30px;

  img {
    margin-left: 20px;
  }
}

#channelsOffline {
  margin-top: 30px;

  img {
    margin-left: 20px;
  }

  a {
    color: red;

    &:visited {
      color: red;
    }
  }
}
